---
title: SPICE - News
permalink: /news/
layout: default
---

    <main>

      <!-- Slider Area Start-->
      <div class="services-area">
        <div class="container">

            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center mb-80">
                        <span>What is going on</span>
                        <h2>News​</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Area End-->


    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-8 posts-list">
               {% for post in site.posts %}
                <div class="single-post">
                  
                   <div class="blog_details">
                      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                      </h2>
                      <ul class="blog-info-link mt-3 mb-4">
                         <li><i class="fa fa-user"></i> {{ post.author }}</li>
                         <li><i class="fa fa-calendar"></i>{{ post.date | date_to_string }}</li>
                         <li><i class="fa fa-hashtag"></i> {{ post.tag }}</li>
                      </ul>
                      <p class="excert">
                         {{ post.excerpt }}
                      </p>

                   </div>
                </div>
                {% endfor %}

             </div>
             <div class="col-lg-4">
               {% include sidebar.html %}
             </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->


         <!-- have-project Start-->
        <!-- have-project End -->

    </main>
