<div class="footer-main" id="footer-main" data-background="{{ site.url }}assets/img/shape/footer_bg.png" style="background-image: url('{{ site.url }}assets/img/shape/footer_bg.png')">
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-3 col-md-4 col-sm-8">
                   <div class="single-footer-caption mb-50">
                     <div class="single-footer-caption mb-30">
                          <!-- logo -->
                         <div class="footer-logo">
                             <a href="{{ site.url }}"><img src="{{ site.url }}assets/img/logo/eu_footer.png" alt="European Union logo"></a>
                         </div>
                         <div class="footer-tittle">
                             <div class="footer-pera">
                                 <p class="info1"><p>This project has received funding from the European Union’s Horizon 2020 research and innovation programme (Grant Agreement N. 870811)</p>
                                 </p>

                            </div>
                         </div>
                         <div class="footer-social">
                            <a target="_blank" href="https://www.instagram.com/spice_h2020/"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="https://twitter.com/SpiceH2020"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/company/spice-h2020"><i class="fab fa-linkedin"></i></a>
                            <a target="_blank" href="https://github.com/spice-h2020"><i class="fab fa-github"></i></a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCk04KJW9dcBDMdw0baBH_Tw"><i class="fab fa-youtube"></i></a>

                        </div>
                     </div>
                   </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="{{ site.url }}about/">Partners</a></li>
                                <li><a href="{{ site.url }}project/">Project</a></li>
                                <li><a href="{{ site.url }}case_studies/">Case studies</a></li>
                                <li><a href="{{ site.url }}publications/">Publications</a></li>
                                <li><a href="{{ site.url }}deliverables/">Deliverables</a></li>
                                <li><a href="{{ site.url }}news/">News</a></li>
                                <li><a href="{{ site.url }}events/">Events</a></li>
                                <li><a href="{{ site.url }}press/">Press and Media</a></li>
                                <!-- <li><a href="modelling/">Data modelling</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="{{ site.url }}privacy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Contacts</h4>
                            <ul>

                              <li>Project Coordinator: silvio.peroni@unibo.it</li>
                              <li>Scientific Coordinator: aldo.gangemi@cnr.it</li>
                              <li>Project Manager: adriana.dascultu@unibo.it</li>
                         </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                 <div class="row d-flex align-items-center">
                     <div class="col-xl-12 ">
                         <div class="footer-copy-right text-center">
                             <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                               Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script>  -->
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
  </div>
