<div class="have-project">
    <div class="container">
        <div class="haveAproject"  data-background="{{'assets/img/team/have.jpg' | relative_url }}">
            <div class="row d-flex align-items-center">
                <div class="col-xl-7 col-lg-9 col-md-12">
                    <div class="wantToWork-caption">
                        <h2>Do you want to get in touch?</h2>
                        <p>If you have any question or you would like to collaborate with us, let us know!</p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-3 col-md-12">
                   <div class="wantToWork-btn f-right">
                        <a href="{{'/contacts/' | relative_url }}" class="btn btn-ans">Contact Us</a>
                   </div>
                </div>
            </div>
        </div>

    </div>
</div>