<!doctype html>
<html class="no-js" lang="en">
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170461851-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-170461851-1');
      </script><!doctype html>
<html class="no-js" lang="en">
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170461851-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-170461851-1');
      </script>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="The EU-funded project SPICE: Social cohesion, participation, and inclusion through cultural engagement">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{{'assets/img/favicon.ico' | relative_url }}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | relative_url }}">
            <link rel="stylesheet" href="{{ 'assets/css/owl.carousel.min.css' | relative_url }}">
            <link rel="stylesheet" href="{{ 'assets/css/flaticon.css' | relative_url }}">
            <link rel="stylesheet" href="{{ 'assets/css/slicknav.css' | relative_url }}">
            <link rel="stylesheet" href="{{ 'assets/css/animate.min.css' | relative_url }}">
            <link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css' | relative_url }}">
            <link rel="stylesheet" href="{{ 'assets/css/fontawesome-all.min.css' | relative_url }}">
            <link rel="stylesheet" href="{{ 'assets/css/themify-icons.css' | relative_url }}">
            <link rel="stylesheet" href="{{ 'assets/css/slick.css' | relative_url }}">
            <link rel="stylesheet" href="{{ 'assets/css/nice-select.css' | relative_url }}">
            <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
   </head>
    <!-- Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
              <div class="preloader-circle"></div>
              <div class="preloader-img pere-text">
                  <img src="{{ 'assets/img/logo/logo.png' | relative_url }}" alt="SPICE logo">
              </div>
          </div>
      </div>
  </div>
  <!-- Preloader Start -->

  <header>
    {% include navigation.html %}
      <!-- Header End -->
  </header>
  <body>
    {{ content }}
	  {% include keepintouch.html %}
    <footer>
      <!-- Footer Start-->
      {%include footer.html %}
      <!-- Footer End-->
  </footer>
  <div id="myCookieConsent">
    <a id="cookieButton">Understood</a>
    <div>This&nbsp;website is&nbsp;using&nbsp;cookies. <a href="{{ site.url }}privacy.html">More&nbsp;details</a></div>
  </div>

  		<!-- All JS Custom Plugins Link Here here -->
      <script src="{{ 'assets/js/vendor/modernizr-3.5.0.min.js' | relative_url }}"></script>
      <!-- Jquery, Popper, Bootstrap -->
      <script src="{{ 'assets/js/vendor/jquery-1.12.4.min.js' | relative_url }}"></script>
          <script src="{{ 'assets/js/popper.min.js' | relative_url }}"></script>
          <script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
        <!-- Jquery Mobile Menu -->
          <script src="{{ 'assets/js/jquery.slicknav.min.js' | relative_url }}"></script>
  
      <!-- Jquery Slick , Owl-Carousel Plugins -->
          <script src="{{ 'assets/js/owl.carousel.min.js' | relative_url }}"></script>
          <script src="{{ 'assets/js/slick.min.js' | relative_url }}"></script>
          <!-- Date Picker -->
          <script src="{{ 'assets/js/gijgo.min.js' | relative_url }}"></script>
      <!-- One Page, Animated-HeadLin -->
          <script src="{{ 'assets/js/wow.min.js' | relative_url }}"></script>
      <script src="{{ 'assets/js/animated.headline.js' | relative_url }}"></script>
          <script src="{{ 'assets/js/jquery.magnific-popup.js ' | relative_url }}"></script>
  
      <!-- Scrollup, nice-select, sticky -->
          <script src="{{ 'assets/js/jquery.scrollUp.min.js' | relative_url }}"></script>
          <script src="{{ 'assets/js/jquery.nice-select.min.js' | relative_url }}"></script>
      <script src="{{ 'assets/js/jquery.sticky.js' | relative_url }}"></script>
  
          <!-- contact js -->
          <script src="{{ 'assets/js/contact.js' | relative_url }}"></script>
          <script src="{{ 'assets/js/jquery.form.js' | relative_url }}"></script>
          <script src="{{ 'assets/js/jquery.validate.min.js' | relative_url }}'"></script>
          <script src="{{ 'assets/js/mail-script.js' | relative_url }}"></script>
          <script src="{{ 'assets/js/jquery.ajaxchimp.min.js' | relative_url}}"></script>
  
      <!-- Jquery Plugins, main Jquery -->
          <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
          <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
          
  </body>
</html>


        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="The EU-funded project SPICE: Social cohesion, participation, and inclusion through cultural engagement">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="{{ site.url }}assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ site.url }}assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="{{ site.url }}assets/css/flaticon.css">
            <link rel="stylesheet" href="{{ site.url }}assets/css/slicknav.css">
            <link rel="stylesheet" href="{{ site.url }}assets/css/animate.min.css">
            <link rel="stylesheet" href="{{ site.url }}assets/css/magnific-popup.css">
            <link rel="stylesheet" href="{{ site.url }}assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="{{ site.url }}assets/css/themify-icons.css">
            <link rel="stylesheet" href="{{ site.url }}assets/css/slick.css">
            <link rel="stylesheet" href="{{ site.url }}assets/css/nice-select.css">
            <link rel="stylesheet" href="{{ site.url }}assets/css/style.css">
   </head>
    <!-- Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
              <div class="preloader-circle"></div>
              <div class="preloader-img pere-text">
                  <img src="{{ site.url }}assets/img/logo/logo.png" alt="SPICE logo">
              </div>
          </div>
      </div>
  </div>
  <!-- Preloader Start -->

  <header>
    {% include navigation.html %}
      <!-- Header End -->
  </header>
  <body>
    {{ content }}
	  {% include keepintouch.html %}
    <footer>
      <!-- Footer Start-->
      {%include footer.html %}
      <!-- Footer End-->
  </footer>
  <div id="myCookieConsent">
    <a id="cookieButton">Understood</a>
    <div>This&nbsp;website is&nbsp;using&nbsp;cookies. <a href="{{ site.url }}privacy.html">More&nbsp;details</a></div>
  </div>

  		<!-- All JS Custom Plugins Link Here here -->
      <script src="{{ site.url }}assets/js/vendor/modernizr-3.5.0.min.js"></script>
      <!-- Jquery, Popper, Bootstrap -->
      <script src="{{ site.url }}assets/js/vendor/jquery-1.12.4.min.js"></script>
          <script src="{{ site.url }}assets/js/popper.min.js"></script>
          <script src="{{ site.url }}assets/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
          <script src="{{ site.url }}assets/js/jquery.slicknav.min.js"></script>
  
      <!-- Jquery Slick , Owl-Carousel Plugins -->
          <script src="{{ site.url }}assets/js/owl.carousel.min.js"></script>
          <script src="{{ site.url }}assets/js/slick.min.js"></script>
          <!-- Date Picker -->
          <script src="{{ site.url }}assets/js/gijgo.min.js"></script>
      <!-- One Page, Animated-HeadLin -->
          <script src="{{ site.url }}assets/js/wow.min.js"></script>
      <script src="{{ site.url }}assets/js/animated.headline.js"></script>
          <script src="{{ site.url }}assets/js/jquery.magnific-popup.js "></script>
  
      <!-- Scrollup, nice-select, sticky -->
          <script src="{{ site.url }}assets/js/jquery.scrollUp.min.js"></script>
          <script src="{{ site.url }}assets/js/jquery.nice-select.min.js"></script>
      <script src="{{ site.url }}assets/js/jquery.sticky.js"></script>
  
          <!-- contact js -->
          <script src="{{ site.url }}assets/js/contact.js"></script>
          <script src="{{ site.url }}assets/js/jquery.form.js"></script>
          <script src="{{ site.url }}assets/js/jquery.validate.min.js'"></script>
          <script src="{{ site.url }}assets/js/mail-script.js"></script>
          <script src="{{ site.url }}assets/js/jquery.ajaxchimp.min.js' | relative_url}}"></script>
  
      <!-- Jquery Plugins, main Jquery -->
          <script src="{{ site.url }}assets/js/plugins.js"></script>
          <script src="{{ site.url }}assets/js/main.js"></script>
          
  </body>
</html>
